{
  "plugins": [
    "prettier-plugin-astro"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.sql",
      "options": {
        "parser": "sql",
        "language": "postgresql",
        "keywordCase": "preserve"
      }
    }
  ]
}